#data-default-tag{
  display:none;
}
$debug:true;
#checkP{
	$debug: true;
}
div.input{
	@if($debug){
	   border: 1px solid red;
	}
}


.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileUploader {
  padding:5px;
  border:5px;
  background:white;
}