<div class="card">
  <div class="card-header">
    <h5>Contact</h5>
    <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="addStudent()"> <i class="icofont icofont-plus m-r-5"></i> Add Student
    </button>
<!--     <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="modalOverflow.show()"> <i class="icofont icofont-plus m-r-5"></i> Add Student
    </button> -->
  
  </div>
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div>
                <label for= "getCity" class="label-control">Select Class
                  <select name="getCity" #getClass class="form-control" [(ngModel)]="selectClass" (change)="getClassMethod(getClass.value)">
                    <option style="display:none;"></option>
                    <option *ngFor="let getClass of filterClass;let i= index;" [value]="getClass">{{getClass}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div *ngIf ="selectClass!==''">
                <label for= "getSection" class="label-control">Select Section
                  <select name="getSection" #getSection class="form-control" (change)="getSectionMethod(getSection.value)" [(ngModel)]="selectSection">
                    <option style="display:none;"></option>
                    <option *ngFor="let getSection of getSectionOfClass;let i= index;"  [value]="getSection.section">{{getSection.section}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table" [mfData]="studentList | dataFilter : filterQuery" #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="erpID">erpID</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
              </th>
               <th>
                <mfDefaultSorter by="phone_no">Phone No.</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Action</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data;let i=index">
              <td><img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl"></td>
              <td>{{item.name}}</td>
              <td>{{item.erp_id}}</td>
              <td>{{item.email}}</td>
              <td>{{item.student_contact}}</td>
              <td class="action-icon">
                <button type="button" (click)="editStudent(i)" class="m-r-15 crm-action-edit text-muted text-primary"><i class="icofont icofont-ui-edit"></i></button>
                <a href="javascript:;" class="crm-action-delete text-muted text-danger"><i class="icofont icofont-delete-alt"></i></a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>erpID</th>
              <th>Email</th>
              <th>Phone No.</th>
              <th>Action</th>
            </tr>
            <tr>
              <td colspan="10">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

         
<!--  <app-modal-basic #modalOverflow [hideHeader]="true" [hideFooter]="true">
<div class="app-modal-body">
  <button type="button" class="close basic-close-light-box" (click)="modalOverflow.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
 
     <br>
     </div>
 </app-modal-basic> -->

 <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
          <h3>Add Student</h3>
          <div>
            <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'500px'">
		    <form [formGroup]="studentForm" (ngSubmit) ="putStudent(studentForm.value)">
		   <div class="text-center">
		    <label for="basic-addon1" style="display:block;text-align:left">Full Name</label> 
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" formControlName = "name" [style.border]="(!studentForm.controls['name'].valid && studentForm.controls['name'].touched)?'2px solid #ff6060':'2px solid #ced4da'">
		      <p *ngIf="!studentForm.controls['name'].valid && studentForm.controls['name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the name</p>
		    </div>
         <label for="basic-addon1" style="display:block;text-align:left">Student Contact</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "student_contact">
		     <p *ngIf="!studentForm.controls['student_contact'].valid && studentForm.controls['student_contact'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the student contact</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Parent Contact</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "parent_contact">
	        <p *ngIf="!studentForm.controls['parent_contact'].valid && studentForm.controls['parent_contact'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the parent contact</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Gender</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text" class="form-control" placeholder="Gender"  formControlName = "gender">
            <option style="display:none;"></option>
		      	<option ngValue="Male">Male</option>
		      	<option ngValue="Female">Female</option>
		      	<option ngValue="Other">Other</option>
		      </select>
              <p *ngIf="!studentForm.controls['gender'].valid && studentForm.controls['gender'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the gender</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Address</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "address">
		      <p *ngIf="!studentForm.controls['address'].valid && studentForm.controls['address'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the address</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Birthday</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="date" class="form-control"  formControlName = "birthday">
		      <p *ngIf="!studentForm.controls['birthday'].valid && studentForm.controls['birthday'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the birthday</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Email</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" [readOnly] = "editMode"  formControlName = "email">
		      <p *ngIf="!studentForm.controls['email'].valid && studentForm.controls['email'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the valid email</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Class</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text" #getClassVal class="form-control" formControlName = "class" (change)="getClassMethodForm(getClassVal.value)">
		      	<option style="display:none;"></option>
		      	<option *ngFor = "let getClassform of filterClass" [value]="getClassform">{{getClassform}}</option>
		      </select>
		      <p *ngIf="!studentForm.controls['class'].valid && studentForm.controls['class'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the class</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Section</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text" class="form-control" formControlName = "section">
                <option style="display:none;"></option>
		      	<option *ngFor= "let getSectionForm of getSectionOfClassForm" [value]="getSectionForm.section">{{getSectionForm.section}}</option></select>
		      	<p *ngIf="!studentForm.controls['section'].valid && studentForm.controls['section'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the section</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Date of joining</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="date" class="form-control"  formControlName = "date_of_join">
		      <p *ngIf="!studentForm.controls['date_of_join'].valid && studentForm.controls['date_of_join'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the date of joining</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Dormitory</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control" #dorm formControlName = "dormitory" (focusout)="addDorm(dorm.value)">
          <p *ngIf="!studentForm.controls['dormitory'].valid && studentForm.controls['dormitory'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the dormitory</p>
          <p *ngIf= "!correctDorm" style="color:red;display:block;width:100%;text-align:left">Invalid Dormitory</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Transport</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control" #vehicle  formControlName = "transport" (focusout)="addVehicle(vehicle.value)">
          <p *ngIf="!studentForm.controls['transport'].valid && studentForm.controls['transport'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the transport</p>
         </div>
          <p *ngIf= "!correctVehicle" style="color:red;display:block;width:100%;text-align:left">Invalid Transport</p>
        <label for="basic-addon1" style="display:block;text-align:left">Aadhaar number</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "aadhar_num">
		      <p *ngIf="!studentForm.controls['aadhar_num'].valid && studentForm.controls['aadhar_num'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the aadhaar</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Account name</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "account_name">
		       <p *ngIf="!studentForm.controls['account_name'].valid && studentForm.controls['account_name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the account name</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Account number</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "account_number">
		      <p *ngIf="!studentForm.controls['account_number'].valid && studentForm.controls['account_number'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the account number</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">IFSC Code</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "ifsc">
		      <p *ngIf="!studentForm.controls['ifsc'].valid && studentForm.controls['ifsc'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the ifsc code</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Category</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text" class="form-control" formControlName = "caste">
          <option style="display:none;"></option>
          <option value='General'>General</option>
          <option value='OBC'>OBC</option> 
          <option value='SC'>SC</option>
          <option value='ST'>ST</option>
          </select>
		      <p *ngIf="!studentForm.controls['caste'].valid && studentForm.controls['caste'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the category</p>
		    </div>            
		    <button *ngIf="studentForm.valid"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>	</div>
		     </form>          
		    </perfect-scrollbar>
            <br>
          </div>
          <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
</app-modal-animation>
