<div class="card">
  <div class="card-header">
    <h5>Staff</h5>
    <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="addStaff()"> <i class="icofont icofont-plus m-r-5"></i> Add Staff
    </button>
<!--     <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="modalOverflow.show()"> <i class="icofont icofont-plus m-r-5"></i> Add Student
    </button> -->
  
  </div>
  <div class="card-body">
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div>
                <label for= "getStaff" class="label-control">Select Staff
                  <select name="getStaff" #getStaff class="form-control" [(ngModel)]="selectStaff" (change)="getStaffMethod(getStaff.value)">
                    <option *ngFor="let getStaff of staffType;let i= index;" [value]="getStaff">{{getStaff}}</option>
                  </select>
                </label>
              </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-4 col-md-4">
              <div *ngIf ="selectClass!==''">
                <label for= "getSection" class="label-control">Select Section
                  <select name="getSection" #getSection class="form-control" (change)="getSectionMethod(getSection.value)" [(ngModel)]="selectSection">
                    <option *ngFor="let getSection of getSectionOfClass;let i= index;"  [value]="getSection.section">{{getSection.section}}</option>
                  </select>
                </label>
              </div>
            </div> -->
            <div class="col-xs-12 col-sm-4 col-md-4">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table" [mfData]="staffList | dataFilter : filterQuery" #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="erpID">erpID</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="phone_no">Phone No.</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Action</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data;let i=index">
              <td><img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl"></td>
              <td>{{item.name}}</td>
              <td>{{item.erp_id}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phone}}</td>
              <td class="action-icon">
                <button type="button" (click)="editStaff(i)" class="m-r-15 crm-action-edit text-muted text-primary"><i class="icofont icofont-ui-edit"></i></button>
                <a href="javascript:;" class="crm-action-delete text-muted text-danger"><i class="icofont icofont-delete-alt"></i></a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Profile</th>
              <th>Name</th>
              <th>erpID</th>
              <th>Email</th>
              <th>Phone No.</th>
              <th>Action</th>
            </tr>
            <tr>
              <td colspan="10">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

         
<!--  <app-modal-basic #modalOverflow [hideHeader]="true" [hideFooter]="true">
<div class="app-modal-body">
  <button type="button" class="close basic-close-light-box" (click)="modalOverflow.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
 
     <br>
     </div>
 </app-modal-basic> -->

 <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
          <h3>Add Staff</h3>
          <div>
            <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'500px'" [config]="config">
		    <form [formGroup]="staffForm" (ngSubmit) ="putStaff(staffForm.value)">
		   <div class="text-center">
		     
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Full Name" formControlName = "name">
		      <p *ngIf="!staffForm.controls['name'].valid && staffForm.controls['name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the name</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="ERP_ID" formControlName = "erp_id">
		        <p *ngIf="!staffForm.controls['erp_id'].valid && staffForm.controls['erp_id'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the erp id</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Student Contact" formControlName = "phone">
		     <p *ngIf="!staffForm.controls['phone'].valid && staffForm.controls['phone'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the staff contact</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text" class="form-control" placeholder="Gender"  formControlName = "gender">
		      	<option value = "" selected id="data-default-tag">Gender</option>
		      	<option ngValue="Male">Male</option>
		      	<option ngValue="Female">Female</option>
		      	<option ngValue="Other">Other</option>
		      </select>
              <p *ngIf="!staffForm.controls['gender'].valid && staffForm.controls['gender'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the gender</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Address" formControlName = "address">
		      <p *ngIf="!staffForm.controls['address'].valid && staffForm.controls['address'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the address</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="date" class="form-control" placeholder="DOB" formControlName = "birthday">
		      <p *ngIf="!staffForm.controls['birthday'].valid && staffForm.controls['birthday'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the birthday</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" [disabled] = "editMode" placeholder="Email" formControlName = "email">
		      <p *ngIf="!staffForm.controls['email'].valid && staffForm.controls['email'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the valid email</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <select type="text"  class="form-control" disabled = "{{editMode}}" placeholder="Type" formControlName = "type">
		      	<option value = "" selected id="data-default-tag">Staff Type</option>
		      	<option *ngFor = "let getStaffform of staffType" [ngValue]="getStaffform">{{getStaffform}}</option>
		      </select>
		      <p *ngIf="!staffForm.controls['type'].valid && staffForm.controls['type'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the class</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="date" class="form-control" placeholder="Date of Joining" formControlName = "date_of_join">
		      <p *ngIf="!staffForm.controls['date_of_join'].valid && staffForm.controls['date_of_join'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the date of joining</p>
		    </div>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Aadhar Number" formControlName = "aadhar_num">
		      <p *ngIf="!staffForm.controls['aadhar_num'].valid && staffForm.controls['aadhar_num'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the aadhaar</p>
		    </div>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Account Name" formControlName = "account_name">
		       <p *ngIf="!staffForm.controls['account_name'].valid && staffForm.controls['account_name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the account name</p>
		    </div>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Account Number" formControlName = "account_number">
		      <p *ngIf="!staffForm.controls['account_number'].valid && staffForm.controls['account_number'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the account number</p>
		    </div>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="IFSC code" formControlName = "ifsc">
		      <p *ngIf="!staffForm.controls['ifsc'].valid && staffForm.controls['ifsc'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the ifsc code</p>
		    </div>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Caste" formControlName = "caste">
		      <p *ngIf="!staffForm.controls['caste'].valid && staffForm.controls['caste'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the caste</p>
		    </div>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control" placeholder="Session" formControlName = "session">
		      <p *ngIf="!staffForm.controls['session'].valid && staffForm.controls['session'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the session</p>
		    </div>
            
		    <button *ngIf="staffForm.valid"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>	</div>
		     </form>          
		    </perfect-scrollbar>
            <br>
          </div>
          <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
</app-modal-animation>


 <!-- <h3 class="font-header">ADD STUDENT</h3>
 
  <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'500px'" [config]="config">
    
   <div class="text-center">
     <form [formGroup]="staffForm" (ngSubmit) ="putStudent(staffForm.value)">
    <div class="input-group">
      <span class="input-group-prepend" id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
      <input type="text" class="form-control" placeholder="Full Name" formControlName = "name">
    </div>
    <button type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>
</form>
    <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
  </div>
               
    </perfect-scrollbar> -->