<div class="card">
  <div class="card-header">
    <h5>System Settings</h5>

  
  </div>
  <div class="card-body">

	<form [formGroup]="systemForm">
		   <div class="text-center">
        <label for="basic-addon1" style="display:block;text-align:left">School Name</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "name">
		      <p *ngIf="!systemForm.controls['name'].valid && systemForm.controls['name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the School name</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Address</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "address">
		        <p *ngIf="!systemForm.controls['address'].valid && systemForm.controls['address'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the address</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Phone</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "phone">
            <p *ngIf="!systemForm.controls['phone'].valid && systemForm.controls['phone'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the phone</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Email</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "email">
            <p *ngIf="!systemForm.controls['email'].valid && systemForm.controls['email'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the valid email</p>
        </div> 
        <label for="basic-addon1" style="display:block;text-align:left">Current Session</label>  
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "current_session">
		      <p *ngIf="!systemForm.controls['current_session'].valid && systemForm.controls['current_session'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the current session</p>
		    </div>
		    <button *ngIf="systemForm.valid && !editMode"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putSystem(systemForm.value)">Save</button>
         <button *ngIf="systemForm.valid && editMode"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putSystemEdited(systemForm.value)">Save</button>
      </div>
	</form>          
	</div>
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-6">
     <div class="panel panel-success">
            <div class="panel-heading bg-success">
              Nodemailer
            </div>
            <div class="panel-body">
              <div class="text-center">
               <form [formGroup] = "nodemailerForm">
          <label for="basic-addon1" style="display:block;text-align:left">Email</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "mail">
            <p *ngIf="!nodemailerForm.controls['mail'].valid &&  nodemailerForm.controls['mail'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the appropriate Email</p>
        </div>
                <label for="basic-addon1" style="display:block;text-align:left">Client ID</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "client_id">
            <p *ngIf="!nodemailerForm.controls['client_id'].valid && nodemailerForm.controls['client_id'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the auth_token</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Client Secret</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "client_secret">
            <p *ngIf="!nodemailerForm.controls['client_secret'].valid && nodemailerForm.controls['client_secret'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the client_secret</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Refresh Token</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "refresh_token">
            <p *ngIf="!nodemailerForm.controls['refresh_token'].valid && nodemailerForm.controls['refresh_token'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the refresh token </p>
        </div>
          <button *ngIf="nodemailerForm.valid && !editModeNodemailer"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putNodemailer(nodemailerForm.value)">Create</button>
         <button *ngIf="nodemailerForm.valid && editModeNodemailer"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putNodemailerEdited(nodemailerForm.value)">Save</button>
      </form>
            </div>
          <div class="panel-footer text-success">
              
            </div>
          </div>

     </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="text-center">
      <div class="panel panel-success">
            <div class="panel-heading bg-success">
              Twilio
            </div>
            <div class="panel-body">
           <form [formGroup] = "twilioForm">
            <br>
          <label for="basic-addon1" style="display:block;text-align:left">Twilio API</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "account_sid">
            <p *ngIf="!twilioForm.controls['account_sid'].valid && twilioForm.controls['account_sid'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the appropriate account SID</p>
        </div>
                <label for="basic-addon1" style="display:block;text-align:left">Auth Token</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "auth_token">
            <p *ngIf="!twilioForm.controls['auth_token'].valid && twilioForm.controls['auth_token'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the auth_token</p>
        </div>
                <label for="basic-addon1" style="display:block;text-align:left">Mobile Number</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "contact">
            <p *ngIf="!twilioForm.controls['contact'].valid && twilioForm.controls['contact'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the contact number to send OTP</p>
        </div>
          <button *ngIf="twilioForm.valid && !editModeTwilio"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putTwilio(twilioForm.value)">Create</button>
         <button *ngIf="twilioForm.valid && editModeTwilio"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putTwilioEdited(twilioForm.value)">Save</button>
      </form>
            </div>
            <div class="panel-footer text-success">
              
            </div>
          </div>
        </div>
    </div>

  </div>





