<div class="card" style="position: relative;">
  <div class="card-header">
    <h5>System Settings</h5>
       <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="promoteSession()"> <i class="icofont icofont-plus m-r-5"></i>Promote Session
    </button>
   </div>
  <div class="card-body">

	<form [formGroup]="systemForm">
		   <div class="text-center">
        <label for="basic-addon1" style="display:block;text-align:left">School Name(required)</label>
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "name">
		      <p *ngIf="!systemForm.controls['name'].valid && systemForm.controls['name'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the School name</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Address(required)</label>
		     <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "address">
		        <p *ngIf="!systemForm.controls['address'].valid && systemForm.controls['address'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the address</p>
		    </div>
        <label for="basic-addon1" style="display:block;text-align:left">Phone(required)</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "phone">
            <p *ngIf="!systemForm.controls['phone'].valid && systemForm.controls['phone'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the phone</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Email(required)</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "email">
            <p *ngIf="!systemForm.controls['email'].valid && systemForm.controls['email'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the valid email</p>
        </div>
         <label for="basic-addon1" style="display:block;text-align:left">Category(required)</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <select type="text" class="form-control" #sessionReportValue [(ngModel)]="selectedSession" [ngModelOptions]="{standalone: true}" (change)="sessionReport(sessionReportValue.value)">
<!--           <option style="display:none;"></option> -->
          <option *ngFor="let sessionVal of sessionListArray" [value]="sessionVal">{{ sessionVal }}</option>
          </select>
        </div> 
        <label for="basic-addon1" style="display:block;text-align:left">Current Session(required)</label>  
		    <div class="input-group">
		      <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
		      <input type="text" class="form-control"  formControlName = "current_session">
		      <p *ngIf="!systemForm.controls['current_session'].valid && systemForm.controls['current_session'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the current session</p>
		    </div>
		    <button *ngIf="systemForm.valid && !editMode"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putSystem(systemForm.value)">Save</button>
         <button *ngIf="systemForm.valid && editMode"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putSystemEdited(systemForm.value)">Save</button>
      </div>
	</form>          

<br>
<br>
  <div class="row">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right twilio">

      <app-card  [blockClass]="'panels-wells'" >
      <div class="text-center">
      <div class="panel panel-success">
            <div class="panel-heading bg-success">
              MSG 91
            </div>
            <div class="panel-body" style="height:390px">
           <form [formGroup] = "msg91Form">
            <br>
          <label for="basic-addon1" style="display:block;text-align:left">Auth Token</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "auth_key">
            <p *ngIf="!msg91Form.controls['auth_key'].valid && msg91Form.controls['auth_key'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the appropriate auth token</p>
        </div>
          <button *ngIf="msg91Form.valid && !editModeMSG91"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putMSG91(msg91Form.value)">Create</button>
         <button *ngIf="msg91Form.valid && editModeMSG91"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putMSG91Edited(msg91Form.value)">Save</button>
      </form>
            </div>
      </div>
        </div>
         </app-card>
    </div>
 
  

   


   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">

      <app-card  [blockClass]="'panels-wells'">
      <div class="text-center">
      <div class="panel panel-success">
            <div class="panel-heading bg-success">
              Nodemailer
            </div>
            <div class="panel-body">
   <form [formGroup] = "nodemailerForm">
                <br>
          <label for="basic-addon1" style="display:block;text-align:left">Email</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "mail">
            <p *ngIf="!nodemailerForm.controls['mail'].valid &&  nodemailerForm.controls['mail'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the appropriate Email</p>
        </div>
                <label for="basic-addon1" style="display:block;text-align:left">Client ID</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "client_id">
            <p *ngIf="!nodemailerForm.controls['client_id'].valid && nodemailerForm.controls['client_id'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the auth_token</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Client Secret</label>
         <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "client_secret">
            <p *ngIf="!nodemailerForm.controls['client_secret'].valid && nodemailerForm.controls['client_secret'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the client_secret</p>
        </div>
        <label for="basic-addon1" style="display:block;text-align:left">Refresh Token</label>
        <div class="input-group">
          <span class="input-group-prepend"  id="basic-addon1"><label class="input-group-text"><i class="icofont icofont-user"></i></label></span>
          <input type="text" class="form-control"  formControlName = "refresh_token">
            <p *ngIf="!nodemailerForm.controls['refresh_token'].valid && nodemailerForm.controls['refresh_token'].touched" style="color:red;display:block;width:100%;text-align:left" >Please enter the refresh token </p>
        </div>
          <button *ngIf="nodemailerForm.valid && !editModeNodemailer"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putNodemailer(nodemailerForm.value)">Create</button>
         <button *ngIf="nodemailerForm.valid && editModeNodemailer"  type="submit" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block" (click) = "putNodemailerEdited(nodemailerForm.value)">Save</button>
      </form>
            </div>
          </div>
        </div>
         </app-card>

</div>
</div>
</div>


